* {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    color: #1d1d1b;
}

article,
.navbar,
.contact__form,
.contact__email,
footer {
    display: flex;
    align-items: center;
}

article {
    padding-top: 10vh;
    min-height: 80vh;
    padding-bottom: 10vh;
}

.navbar {
    background: #fff;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 90vw;
    height: 10vh;
    padding: 0 5vw;
    z-index: 1;
}

.header__img {
    border-radius: 5px;
}

.header__img:hover {
    -webkit-box-shadow: 1px 1px #b3b1b1;
    -moz-box-shadow: 1px 1px #b3b1b1;
    box-shadow: 1px 1px #b3b1b1;
}

.navbar ul {
    display: inline-flex;
    padding: 0;
}

.navbar li {
    list-style: none;
    font-size: 1em;
    margin-left: 10vw;
}

.navbar li a {
    text-decoration: none;
}

.navbar li a:hover {
    color: #0569ff;
}

.cover {
    background-color: #fff;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    padding-left: 5vw;
}

.cover h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 6em;
}

.cover h2 {
    margin-top: -2vh;
    color: #0569ff;
    font-size: 3em;
}

.contact,
.projects {
    justify-content: center;
}

.about {
    background-color: #e6e6e6;
}

.about p {
    width: 60vw;
    padding: 0 5vw;
}

.about p,
h3 {
    font-size: 2.5em;
}

.about--bold {
    font-weight: bold;
}

.projects {
    flex-flow: column;
    background-color: #fff;
}

.project-tile__project-info,
.project-tile__project-img {
    width: 330px;
    height: 230px;
}

.project-tile__project-img {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.project-tile__project-img--tribute {
    background-image: url('./img/codepen_tribute_page.bmp');
}

.project-tile__project-img--survey {
    background-image: url('./img/codepen_survey_form.bmp');
}

.project-tile__project-img--product {
    background-image: url('./img/codepen_product_landing_page.bmp');
}

.project-tile__project-img--technical {
    background-image: url('./img/codepen_technical_documentation_page.bmp');
}

.project-tile__project-info {
    position: absolute;
    background-color: #00000099;
    color: #fff;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    margin: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
    border-radius: 5px;
}

.project-tile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.project-tile__project-img:hover .project-tile__project-info {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.contact {
    background-color: #1d1d1b;
}

.contact img {
    width: 2em;
    margin: 0 1.5vw;
}

.contact img:hover {
    transform: scale(1.1);
}

.contact-title {
    font-size: 2.5em;
    color: #fff;
    font-weight: 600;
}

.contact__form-subtitle {
    color: #fff;
}

.contact__form {
    flex-flow: column;
    width: 30vw;
    padding-top: 2vh;
}

.contact__form-input,
.contact__form-input::placeholder {
    text-indent: 1vw;
}

.contact__form-textarea,
.contact__form-textarea::placeholder {
    text-indent: 1vw;
}

.contact__form-input,
.contact__form-button {
    height: 4vh;
}

.contact__form-textarea {
    resize: none;
    padding: 1vh 0 0;
}

.contact__form-button {
    background: -webkit-linear-gradient(to top, #08449e, #0569ff);
    background: linear-gradient(to top, #08449e, #0569ff);
    /* fallback for old browsers */
    background-color: #0569ff;
    color: #fff;
    letter-spacing: .5em;
    cursor: pointer;
}

.contact__form-button:hover {
    background: #08449e;
}

.contact__form-button:active {
    box-shadow: inset .125em .125em .75em #313131;
    -webkit-box-shadow: inset .125em .125em .75em #313131;
    -moz-box-shadow: inset .125em .125em .75em #313131;
    color: #e6e6e6;
}

.contact__form-input,
.contact__form-textarea,
.contact__form-button {
    border-radius: 5px;
    width: 100%;
    margin: 1vh 0;
    border: none;
    outline: none;
}

.contact__info-phone,
.contact__info-email a {
    color: #fff;
}

.contact__links {
    margin: 4vh 0;
}

.contact__email {
    font-size: 1.2em;
    letter-spacing: .25em;
    color: #fff;
}

.footer {
    justify-content: space-between;
    background-color: #313131;
    font-size: 0.75em;
    padding: 1vh 1vw;
    text-align: right;
}

.footer div {
    color: #b3b1b1;
}

.footer a {
    color: #858585;
}

@media (max-width: 480px) {
    .projects {
        height: auto;
        margin-bottom: 10vh;
    }
    .about p {
        width: auto;
    }
    .project-tile {
        grid-template-columns: 1fr;
    }
    .footer {
        justify-content: center;
        flex-flow: column-reverse;
        text-align: center;
    }
    .footer div {
        padding: 1vh 0;
    }
}