* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

.sticky-blur {
  background: linear-gradient(to top, white, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  position: fixed;
  display: none;
  height: 10vh;
  width: 100%;
  bottom: 0;
  z-index: 815; }

.header {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  background: linear-gradient(to bottom, #f9f8f8, rgba(249, 249, 249, 0.5), rgba(249, 248, 248, 0.25));
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 5%;
  height: 7vh;
  width: 90vw;
  z-index: 4815162342; }
  .header__navbar {
    width: 100%; }
    .header__navbar__links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none; }
      .header__navbar__links__link {
        font-family: "Montserrat", sans-serif;
        font-size: 0.9rem;
        color: rgba(40, 40, 40, 0.4);
        text-decoration: none; }
        .header__navbar__links__link--icon {
          display: block;
          width: 1.5rem; }

.header-white {
  background-color: white;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.12), 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.08); }

.cover {
  min-height: 80vh;
  padding: 10vh 5% 10vh;
  background-color: #f9f8f8;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .cover__title {
    font-family: "Barlow", sans-serif;
    font-size: 5.75rem;
    line-height: 4.5rem;
    color: #282828; }
  .cover__subtitle {
    font-family: "Barlow", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 10px;
    color: #398AC0; }

.about {
  min-height: 80vh;
  padding: 10vh 5% 10vh;
  display: flex;
  justify-content: center;
  flex-flow: column; }
  .about__title {
    margin-bottom: 10vh;
    font-size: 2.5rem;
    font-family: "Barlow", sans-serif;
    color: rgba(40, 40, 40, 0.4);
    font-weight: normal;
    letter-spacing: 10px; }
  .about__paragraph {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #282828; }

.portfolio {
  min-height: 80vh;
  padding: 10vh 5% 10vh; }
  .portfolio__title {
    margin-bottom: 10vh;
    font-size: 2.5rem;
    font-family: "Barlow", sans-serif;
    color: rgba(40, 40, 40, 0.4);
    font-weight: normal;
    letter-spacing: 10px; }
  .portfolio__grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    grid-row-gap: 5vh;
    margin: 5vh 0; }
    .portfolio__grid__element figure {
      width: 432px;
      height: 270px;
      margin-bottom: 3vh;
      box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.16);
      -webkit-box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.16); }
    .portfolio__grid__element__link {
      text-decoration: none; }
    .portfolio__grid__element__name {
      font-family: "Montserrat", sans-serif;
      font-size: 1.25rem;
      color: #282828; }
    .portfolio__grid__element__description {
      font-family: "Montserrat", sans-serif;
      font-size: 0.9rem;
      font-weight: normal;
      color: #282828; }

.skills {
  min-height: 80vh;
  padding: 10vh 5% 10vh;
  display: flex;
  justify-content: center;
  flex-flow: column; }
  .skills__title {
    margin-bottom: 10vh;
    font-size: 2.5rem;
    font-family: "Barlow", sans-serif;
    color: rgba(40, 40, 40, 0.4);
    font-weight: normal;
    letter-spacing: 10px; }
  .skills__list {
    text-align: center;
    list-style: none; }
    .skills__list__skill {
      font-family: "Montserrat", sans-serif;
      font-size: 1.125rem;
      color: #282828;
      margin: 3vh 0; }
      .skills__list__skill--details {
        display: inline;
        padding-left: 5vw;
        color: rgba(40, 40, 40, 0.4); }
        .skills__list__skill--details__icon {
          position: absolute;
          opacity: 0;
          width: 1.5rem;
          margin-left: 2vh; }
        .skills__list__skill--details:hover {
          cursor: pointer; }
  .skills__resume {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #398AC0;
    font-size: 0.9rem;
    padding: 1.5vh 2vw;
    letter-spacing: 1.25px;
    border: 1px solid #398AC0;
    border-radius: 5px;
    outline: none;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    align-self: center;
    text-align: center;
    text-decoration: none; }
    .skills__resume:hover {
      background-color: #398AC0;
      border: 1px solid #398AC0;
      color: white; }

.details-activate {
  color: #282828;
  animation: stickler-for-details 2s linear forwards; }
.details-icon-activate {
  animation: all-good 3s ease-in-out 2s; }

@keyframes stickler-for-details {
  0% {
    padding-left: 5vw; }
  100% {
    color: #282828;
    padding-left: 0vw; } }
@keyframes all-good {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.contact {
  min-height: 80vh;
  padding: 10vh 5% 10vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
  background-color: #282828; }
  .contact__title {
    margin-bottom: 10vh;
    font-size: 2.5rem;
    font-family: "Barlow", sans-serif;
    color: rgba(40, 40, 40, 0.4);
    font-weight: normal;
    letter-spacing: 10px;
    color: white; }
  .contact__flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .contact__flex__message {
      width: 100%; }
      .contact__flex__message__text {
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 0.9rem;
        margin-bottom: 2vh;
        letter-spacing: .125rem; }
      .contact__flex__message__form {
        height: 35vh;
        display: flex;
        flex-flow: column;
        justify-content: space-between; }
        .contact__flex__message__form__input, .contact__flex__message__form__textarea {
          border-radius: 5px;
          border: none;
          padding-left: 1vw;
          font-family: "Montserrat", sans-serif;
          font-size: 0.9rem; }
        .contact__flex__message__form__input {
          height: 5vh; }
          .contact__flex__message__form__input:focus {
            outline: 0 none; }
        .contact__flex__message__form__textarea {
          padding-top: 1vh;
          resize: none; }
          .contact__flex__message__form__textarea:focus {
            outline: 0 none; }
        .contact__flex__message__form__button {
          border-radius: 5px;
          border: none;
          width: 30%;
          letter-spacing: 1.25px;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          padding: 1.5vh 2vw;
          color: white;
          background-color: #398AC0;
          outline: none;
          align-self: flex-end; }
          .contact__flex__message__form__button:hover {
            cursor: pointer;
            filter: brightness(110%);
            -webkit-filter: brightness(110%);
            -moz-filter: brightness(110%);
            -o-filter: brightness(110%);
            -ms-filter: brightness(110%); }
          .contact__flex__message__form__button:active {
            box-shadow: inset 0.125em 0.125em 0.75em #08449E;
            -webkit-box-shadow: inset 0.125em 0.125em 0.75em #08449E;
            -moz-box-shadow: inset 0.125em 0.125em 0.75em #08449E;
            color: #e6e6e6; }
    .contact__flex__picture {
      display: none; }

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10vh 5% 2vh;
  flex-flow: column;
  min-height: 30vh;
  background-color: black; }
  .footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer__flex__info {
      display: flex;
      flex-flow: column; }
      .footer__flex__info__email, .footer__flex__info__phone {
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 1.125rem;
        text-decoration: none; }
      .footer__flex__info__email:hover, .footer__flex__info__phone:hover {
        color: #398AC0; }
      .footer__flex__info__sep {
        display: none; }
    .footer__flex__links {
      display: flex;
      justify-content: space-between;
      width: 30vw; }
      .footer__flex__links__icon {
        width: 2rem; }
  .footer__credits {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: .8rem;
    color: #313131; }
    .footer__credits__links {
      padding-top: 2vh; }
      .footer__credits__links__link {
        color: #313131; }

@media screen and (min-width: 768px) {
  .header {
    justify-content: flex-end; }
    .header__navbar {
      width: 50%; }
      .header__navbar__links {
        align-items: inherit; }
        .header__navbar__links__link--icon {
          position: absolute;
          left: 5%; }
        .header__navbar__links__link:hover {
          color: #282828; }

  .portfolio__grid__element {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 3vw; }
    .portfolio__grid__element figure {
      overflow: hidden; }
    .portfolio__grid__element__link__picture {
      justify-self: center;
      margin-bottom: 0;
      -webkit-transition: .5s linear;
      transition: .5s linear; }
      .portfolio__grid__element__link__picture:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }

  .about {
    align-items: flex-start; }
    .about__paragraph {
      width: 70%; }

  .contact__flex__message {
    width: 30vw; }
  .contact__flex__picture {
    display: block;
    justify-self: flex-start; }
    .contact__flex__picture img {
      width: 300px;
      border-radius: 5px; }

  .footer {
    min-height: 20vh;
    padding: 5vh 5% 1vh; }
    .footer__flex {
      height: 12vh;
      flex-flow: column;
      align-items: center; }
      .footer__flex__info {
        flex-flow: row; }
        .footer__flex__info__email, .footer__flex__info__phone {
          font-size: 1rem; }
        .footer__flex__info__sep {
          display: block;
          margin: 0 .5vw; }
      .footer__flex__links {
        justify-content: space-evenly;
        width: 20vw; }
        .footer__flex__links__icon:hover {
          transform: scale(1.1); }
    .footer__credits {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-flow: row-reverse; }
      .footer__credits__links {
        padding-top: 0; } }

/*# sourceMappingURL=styles.css.map */
